BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AccessModifierOffset: -4
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  BeforeElse: false
BreakBeforeBraces: Attach
PointerAlignment: Left
ReferenceAlignment: Left
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
